{% extends 'index/base.html' %} {% load static %} {% block head %}
<script src="{% static 'js/home.js' %}" async></script>
{% endblock %} {% block title %} Social Bee {% endblock %} {% block body %}
<div class="container" style="margin-top: 70px">
  {% if user.is_authenticated %}
  <div id="alert-div" class="alert" role="alert">
    <i id="alert-glyph" class="fas" aria-hidden="true"></i>
    <span id="alert-content" class="mb-0"></span>
  </div>
  <form
    class="container form-inline"
    style="color: white"
    id="form-post"
    method="POST"
    action="/post-create/"
  >
    {% csrf_token %}
    <textarea
      id="text-content"
      class="form-control col-md-11 mx-2"
      placeholder="Type Here !"
      name="content"
      required
    ></textarea>
    <button
      type="submit"
      class="btn mb-2"
      style="background-color: darkred; color: white; border-radius: 15%"
    >
      Post
    </button>
  </form>
  <br />
  <br />
  {% endif %}
  <div id="post-list" class="container"></div>
</div>
{% endblock %}
