{% extends 'index/base.html' %} {% load static %} {% block head %}
<script src="{% static 'js/home.js' %}" async></script>
{% endblock %} {% block title %} Social Bee {% endblock %} {% block body %}
<div class="container" style="margin-top: 70px">
  <form
    class="container form-inline"
    style="color: white"
    id="form-post"
    method="POST"
    action="/post"
  >
    {% csrf_token %}
    {{ form.as_table }}
    <button
      type="submit"
      class="btn mb-2"
      style="background-color: darkred; color: white; border-radius: 15%"
    >
      Post
    </button>
  </form></div>
  {% endblock %}